<?xml version="1.0" encoding="utf-8"?>
<config>
  <ConfigInformation>
    <MinimumVersion>0.3.1</MinimumVersion>
  </ConfigInformation>
  <Encryption enabled="true">
    <PublicKey>enc.ipk</PublicKey>
  </Encryption>
  <Service enabled="true">
    <DefaultConfig mode="listen">
      <Limit enabled="false">
        <MaxSize enabled="false">20971520</MaxSize>
        <MaxCount enabled="true">70</MaxCount>
      </Limit>
      <FileCopyer enabled="true">
        <NormalCopy enabled="false">
          <Normal></Normal>
        </NormalCopy>
        <RegexCopy enabled="true">
          <Regex>.*.(doc|docx|ppt|pptx)</Regex>
        </RegexCopy>
      </FileCopyer>
    </DefaultConfig>
    <Device enabled="true" name="Master#1" SerialNumber="19283473" mode="listen">
      <Limit enabled="true">
        <MaxSize enabled="false">20971520</MaxSize>
        <MaxCount enabled="true">70</MaxCount>
      </Limit>
      <FileLister enabled="true" />
      <FileCopyer enabled="true">
        <NormalCopy enabled="true">
          <Normal></Normal>
        </NormalCopy>
        <RegexCopy enabled="true">
          <Regex>.*.(doc|docx|ppt|pptx)</Regex>
        </RegexCopy>
      </FileCopyer>
    </Device>
    <Device enabled="true" name="STY" SerialNumber="10293" mode="disabled" />
  </Service>
</config>