<?xml version="1.0" encoding="utf-8"?>
<config>
  <ConfigInformation>
    <MinimumVersion>0.3.0</MinimumVersion>
  </ConfigInformation>
  <Encryption>
    <PublicKeyPath>enc.ipk</PublicKeyPath>
  </Encryption>
  <FileCopyer status="true">
    <SNFilter mode="exceptations">
      <SN>1344878258</SN>
    </SNFilter>
    <Normal status="false">
    </Normal>
    <Regex status="true">
      <FileRegex>.*.(doc|docx)</FileRegex>
    </Regex>
    <Limit maxsize="26214400" maxcount="100" />
  </FileCopyer>
</config>